<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加导航</title>
    <link rel="stylesheet" href="/tp-home/public/static/css/layui.css">
    <script src="/tp-home/public/static/layui.js"> </script><!--//模块化的方式-->
</head>
<body>
<form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
    <div class="layui-form-item">
        <label class="layui-form-label" >导航名称</label>
        <div class="layui-input-block">
            <input type="text" name="nname" lay-verify="required|nname" placeholder="请输入导航名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" >英文名称</label>
        <div class="layui-input-block">
            <input type="text" name="ename" lay-verify="required|enname" placeholder="请输入导航英文名称" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">导航排序</label>
        <div class="layui-input-block">
            <input type="number" name="nsort" lay-verify="required" placeholder="请序号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">导航模板</label>
        <div class="layui-input-block">
            <input type="text" name="ntpl" lay-verify="required|enname" lay-verify="" placeholder="请输入模板" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
    <!-- 更多表单结构排版请移步文档左侧【页面元素-表单】一项阅览 -->
</form>
</body>
<script>
    layui.use(['form'],function () {
        let form=layui.form , $=layui.$ , layer=layui.layer ;//layer是弹出层
        //表单验证
        form.verify({
            nname: function(value, item){ //value：表单的值、item：表单的DOM对象
                if(!new RegExp("^[\u4E00-\u9FA5]{2,5}$").test(value)){
                    return '只能输入5个以下的中文';
                }
            },
            // enname:function (value,item) {
            //     if(!/^[a-zA-Z][a-zA-Z\s]{1,49}$/.test(value)){
            //         return '请输入英文格式';
            //     }
            // },
            enname:[
                /^[a-zA-Z][a-zA-Z\s]{1,49}$/,'请输入英文格式'    //前面的参数是正确的，后面是不符合条件的提示，跟if方式相反
            ],

        });
        form.on('submit(*)',function (data) {

            // console.log(data);
            //要用jquery必须引layui.$
            $.ajax({
                url:'/tp-home/public/admin/nav/insert',
                data:data.field,
                type:'POST',
                dataType:'json',
                success:function (res) {
                  //这里输出不出来数据，可能是后台有其他的输出语句
                    if(res.code==200){
                        layer.alert('恭喜您，添加成功！',{icon:1});
                         this.reset();
                    }else{
                        layer.alert('亲，请重试',{icon:2});
                    }
                }
            });

            return false;
        })
    });

</script>
</html>