    {include file='public/header'}
    <title>关于我们</title>
    <link rel="stylesheet" href="__CSS_PATH__about.css">
    <div class="container">
        <div class="row">
            <!-- 关于我们头部开始 -->
            <div class="juzhong col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 ">
                <img src="__IMG_PATH__newtu/banner5.png" alt=" ">
            </div>
            <!-- 关于我们头部结束 -->
            <!-- 关于我们字体开始 -->
            <div class="wenzi col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 ">
                <div class="xian "></div>
                <div class="xian-wenzi ">


                </div>
            </div>
            <!-- 关于我们字体结束 -->
            <!--文字部分开始  -->
            <div class="xiangxi col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-12 ">
                <p>广州xxx公家具厂是一家集生产加工、经销批发的私营独资企业，办公桌 老板桌 会议桌 办公接待台 可躺椅，懒人沙发，办公转椅、酒吧椅、大班椅、中班椅、餐厅椅、电脑椅、休闲椅、会议椅、工作椅、转椅配件是xx转椅厂的主营产品。广州xxx厂是一家经国家相关部门批准注册的企业。广州东xx家具厂以雄厚的实力、合理的价格、优良的服务与多家企业建立了长期的合作关系。广州xx家具厂热诚欢迎各界前来参观、考察、洽谈业务。
                </p>
                <p>除了为顾客提供贴心专业的指导及售后服务，公司还经常组织各种活动， 为顾客朋友提供一个良好的购物环境， 让每一位顾客都能在大家庭里感受到更多的乐趣。 经过两年的时间，公司已经发展，拥有一流的硬件设施、 科学的管理、精湛的技术、诚心的服务品质和积极进取的优秀团队。
                </p>
                <p>真诚期望XXX能成为您的购物的首选！</p>
            </div>
            <div class="tupian-right col-lg-5 col-md-5 col-sm-12 ">
                <img src="__IMG_PATH__newtu/case5.jpg" alt=" ">
            </div>
            <!-- 文字部分结束 -->
            <div class="wenzi col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 ">
                <div class="xian "></div>
                <div class="xian-wenzi ">
                    <h3>销售精英</h3>
                    <h4>Sales of the elite</h4>
                </div>
            </div>
            <!-- 人员开始 -->
            <div class="renyaun col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 ">
                <div class="renyuan-left col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 ">
                    <img src="__IMG_PATH__about/men1.jpg " alt=" ">
                    <h5>胡浩泽</h5>
                    <p>A6副主任设计师</p>
                </div>
                <div class="renyuan-left col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 ">
                    <img src="__IMG_PATH__about/men2.jpg" alt=" ">
                    <h5>岑蕾</h5>
                    <p>A6高级优秀设计师</p>
                </div>

                <div class="renyuan-left col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 ">
                    <img src="__IMG_PATH__about/men3.jpg" alt="">
                    <h5>郭贵</h5>
                    <p>A6优秀设计师</p>

                </div>

                <div class="renyuan-left col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-4 col-sm-offset-4 col-xs-4 col-xs-offset-4 ">
                    <img src="__IMG_PATH__about/men4.jpg" alt=" ">
                    <h5>夏洛</h5>
                    <p>A6优秀设计师</p>

                </div>
            </div>
            <!-- 人员结束 -->
        </div>
    </div>
    {include file='public/footer'}