
<?php
require '../lib/db.php';
$id=$_GET['id'];
$sql="select * from news where nid='$id'";
$data=$mysqli->query($sql)->fetch_assoc();
$presql="select * from news where nid>$id order by nid  limit 0,1";
$res=$mysqli->query($presql)->fetch_assoc();
$prestr="";
if($res){
$prestr="<a href='newscontent.php?id={$res['nid']}'> {$res['nename']}</a>";
//php中变量与字符串拼接除了用.还可以用{}把变量包住
}else{
$prestr="<a >没有了</a>";
}
$nextsql="select * from news where nid<$id order by nid desc limit 0,1";
$res1=$mysqli->query($nextsql)->fetch_assoc();
$nextstr="";
if($res1){
$nextstr="<a href='newscontent.php?id={$res1['nid']}'> {$res1['nename']}</a>";
}else{
$nextstr="<a >没有了</a>";
}
?>
<title>汽车维修美容 | 新闻资讯
</title>
<link rel="stylesheet" href="../static/css/newscontent.css">

    <!-- 内容主体部分开始 -->
    <div class="containe">
        <!-- <div class="row"> -->
        <div class=" content ">
            <!-- banner图开始 -->
            <!-- <div class="row"> -->

            <div class="banner"><!-- <img src="../static/image/新闻资讯.jpg" alt=""> -->
                <img src="../static/image/newtu/datu2.jpg" alt="">
            </div>
            <!-- </div> -->
            <!-- banner图结束 -->

            <!-- 文字部分开始 -->
            <div class="text">
                <!-- 文字的大标题 -->
                <!-- <div class="row"> -->
                <div class="title">
                    <div class="tit-left">
                        <span></span>
                    </div>
                    <div class="title-wz">
                        <h4>新闻资讯</h4>
                        <h4>News Information</h4>
                    </div>
                    <div class="tit-right">
                        <span></span>
                    </div>
                    <!-- </div> -->
                </div>
                <!-- 文字中的内容 -->

                <div class="containe">
                    <div class="content-box">
                        <div class=" content-title">
                            <?php echo $data['nename'];?>
                        </div>
                        <div class="content-time">
                            发布日期：<?php echo $data['netime'];?>
                        </div>
                        <div class="content-tex">

                            <p>&nbsp;&nbsp;&nbsp;&nbsp;汽车电瓶是汽车得以正常行驶不可或缺的动力来源之一，如何避免非正常使用缩短汽车电瓶使用寿命，并延长其使用时间是很多车主关心的问题。
                            </p>

                            <p>&nbsp;&nbsp;&nbsp;&nbsp;正常情况下，一块车载电瓶的使用寿命为4年，而电瓶寿命的长短与气候情况以及车主的使用习惯也有很大的关系。常见的折损电瓶寿命的因素包括：空
                                气湿度、灰尘、腐蚀、电极松动或过紧、磨损以及汽车电缆的损坏。在极端情况下，这些因素都可能引起电瓶破裂甚至是更加严重的事故，而湿度和灰尘则被认作是 两个最常见的罪魁祸首。</p>



                            <p>&nbsp;&nbsp;&nbsp;&nbsp;保持电池的干净整洁，并进行定期检测是延长汽车电瓶使用寿命的有效手段，而对汽车电瓶的清洁不同于日常物品，仅用抹布外加清洁用油进行擦拭还远远不够。
                            </p>

                            <p>&nbsp;&nbsp;&nbsp;&nbsp;在清洁过程中首先需要注意检查工作环境是否有明火，尤其注意在清洁期间禁止吸烟，当发动机熄火的时候还应该注意断开电池负极与汽车电缆连接。因
                                为汽车电池内含大量硫磺的酸会产生易燃氢气，遇明火容易产生爆炸发生危险。然后要记得在清洁开始前以及结束后将所有物品拭干避免短路发生。</p>

                        </div>
                        <div class="lianjie">
                            
                                <div class="lianjie-l">
                                    <span>上一篇</span> <?php echo $prestr;?>

                                </div>
                           
                            
                            <div class="lianjie-r">
                                <span>下一篇</span><?php echo $nextstr;?>
                            </div>

                        </div>
                        <div class="back">
                            <a href="News.php?id=15">
                                <div class="backbtn">返回列表</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- </div> -->

                <!-- 文字部分结束 -->

                <!-- 底图开始 -->

                <!-- 底图结束 -->
            </div>
            <div class="foot-img">
                <!-- <img src="../static/image/新闻资讯1.jpg" alt=""> -->
            </div>
            <!-- 内容主体部分结束 -->
        </div>
    </div>
            <!-- 站点地图开始 -->
            <footer>
                <ul>
                    <li>
                        <h1><strong>一店地址</strong></h1>
                        <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                        <h2>预约电话：<strong>400-562-6654</strong></h2>
                        <h3>营业时间</h3>
                        <h4>周一 ~周五：上午9:30-下午8:00</h4>
                        <h4>周六、周日：上午10:00-下午9:00</h4>
                    </li>
                    <li>
                        <h1><strong>二店地址</strong></h1>
                        <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                        <h2>预约电话：<strong>400-562-6654</strong></h2>
                        <h3>营业时间</h3>
                        <h4>周一 ~周五：上午9:30-下午8:00</h4>
                        <h4>周六、周日：上午10:00-下午9:00</h4>
                    </li>
                    <li>
                        <h1><strong>三店地址</strong></h1>
                        <h2>门店地址：上海市松江区佘山林荫大道18号</h2>
                        <h2>预约电话：<strong>400-562-6654</strong></h2>
                        <h3>营业时间</h3>
                        <h4>周一 ~周五：上午9:30-下午8:00</h4>
                        <h4>周六、周日：上午10:00-下午9:00</h4>
                    </li>
    
                </ul>
                <div class="bottom-tb">
                    <img src="../static/image/common/QQ (1).png" alt="">
                    <img src="../static/image/common/微信 (1).png" alt="">
                    <img src="../static/image/common/微博 (1).png" alt="">
                    <img src="../static/image/common/电话 (1).png" alt="">
                    <img src="../static/image/common/邮箱.png" alt="">
                </div>
                <div class="bottom-wz">版权所有 2019-2020 汽车美容工作室 技术支持：起飞页</div>
                <div class="bottom-zaixian"><a href="">在线预约</a></div>
            </footer>
            <!-- 站点地图结束 -->
    
            <!-- 箭头--置顶 -->
            <div class="zhiding">ʌ</div>
            <!-- </div> -->
</body>
<script src="../static/js/news.js"></script>

</html>