<!--<?php-->
   <!--$sql="select * from categoods order by cid";-->
    <!--$data=$mysqli->query($sql)->fetch_all(MYSQLI_ASSOC);-->
<!--?>-->
{include file='public/header'}
<title>在线预约</title>
<link rel="stylesheet" href="__CSS_PATH__order.css">
<link rel="stylesheet" href="http://at.alicdn.com/t/font_1342887_wewr9nkb7qi.css">
<!-- 屏幕缩小后出现的下拉列表 结束 -->
<!-- 图片开始 -->
<div class="wf-wrap">
    <img src="__IMG_PATH__newtu/banner9.jpg" alt="">
</div>
<!-- 图片结束 -->
<!-- 线条 -->
<section class="middle-box">
    <div class="containter">
        <div class="row" style="text-align:center;">
            <div class="mbox">
                <div class="mbox-box">
                    <span class="line-left"></span>
                    <div class="font-box">
                        <div class="top-font fontstyle"> </div>
                        <div class="bottom-font fontstyle"> </div>
                    </div>
                    <span class="line-right"></span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- 框子 -->
<section class="bottom-box  col-sm-12">
    <div class="containter">
        <div class="row">
            <div class="chosebox ">
                <form class="chose-function ">
                    <!-- 预约服务 -->
                    <div class="same ">
                        <label for=" " class="font-left float ">预约服务:</label>
                        <div class="font-right ">
                            <select class="style " style="width:100px; " name="ocid">
                                <option value="1">床</option>
?>
                            </select>
                        </div>
                    </div>
                    <!-- 预约日期 -->
                    <div class="same ">
                        <label for=" " class="font-left float ">预约日期:</label>
                        <div class="font-right ">
                            <select class="style ">
                                <option value="1">年</option>
                                <option value="2">2023</option>
                                <option value="3">2022</option>
                                <option value="4">2021</option>
                                <option value="5">2020</option>
                                <option value="6">2019</option>
                                <option value="7">2018</option>
                                <option value="8">2017</option>
                                <option value="9">2016</option>
                                <option value="10">2015</option>
                                <option value="11">2014</option>
                                <option value="12">2013</option>
                                <option value="13">2012</option>
                                <option value="14">2011</option>
                                <option value="15">2010</option>
                                <option value="16">2009</option>
                                <option value="17">2008</option>
                                <option value="18">2007</option>
                                <option value="19">2006</option>
                                <option value="20">2005</option>
                                <option value="21">2004</option>
                                <option value="22">2003</option>
                                <option value="23">2002</option>
                                <option value="24">2001</option>
                                <option value="25">2000</option>
                                <option value="26">1999</option>
                                <option value="27">1998</option>
                                <option value="28">1997</option>
                                <option value="28">1996</option>
                                <option value="30">1995</option>
                                <option value="31">1994</option>
                                <option value="32">1993</option>
                                <option value="33">1992</option>
                                <option value="34">1991</option>
                                <option value="35">1990</option>
                                <option value="36">1989</option>
                                <option value="37">1987</option>
                                <option value="38">1986</option>
                                <option value="39">1985</option>
                                <option value="40">1984</option>
                                <option value="41">1983</option>
                            </select>
                            <select class="style " style="margin-left:100px; ">
                                <option value=" ">月</option>
                                <option value="1 ">一月</option>
                                <option value="2 ">二月</option>
                                <option value="3 ">三月</option>
                                <option value="4 ">四月</option>
                                <option value="5 ">五月</option>
                                <option value="6 ">六月</option>
                                <option value="7 ">七月</option>
                                <option value="8 ">八月</option>
                                <option value="9 ">九月</option>
                                <option value="10 ">十月</option>
                                <option value="11 ">十一月</option>
                                <option value="12 ">十二月</option>
                            </select>
                            <select class="style " style="margin-left:180px; ">
                                <option value=" ">日</option>
                                <option value="1 ">1</option>
                                <option value="2 ">2</option>
                                <option value="3 ">3</option>
                                <option value="4 ">4</option>
                                <option value="5 ">5</option>
                                <option value="6 ">6</option>
                                <option value="7 ">7</option>
                                <option value="8 ">8</option>
                                <option value="9 ">9</option>
                                <option value="10 ">10</option>
                                <option value="11 ">11</option>
                                <option value="12 ">12</option>
                                <option value="13 ">13</option>
                                <option value="14 ">14</option>
                                <option value="15 ">15</option>
                                <option value="16 ">16</option>
                                <option value="17 ">17</option>
                                <option value="18 ">18</option>
                                <option value="19 ">19</option>
                                <option value="20 ">20</option>
                                <option value="21 ">21</option>
                                <option value="22 ">22</option>
                                <option value="23 ">23</option>
                                <option value="24 ">24</option>
                                <option value="25 ">25</option>
                                <option value="26 ">26</option>
                                <option value="27 ">27</option>
                                <option value="28 ">28</option>
                                <option value="29 ">29</option>
                                <option value="30 ">30</option>
                                <option value="31 ">31</option>
                            </select>
                            <div class="calenter">
                                <input type="date" name="otime">
                            </div>

                        </div>
                    </div>
                    <!-- 姓名 -->
                    <div class="same ">
                        <label class="font-left float ">您的姓名:</label>
                        <div class="font-right ">
                            <input type="text" name="oname" class="style " style="width:100%; font-size: 14px; ">
                        </div>
                    </div>
                    <!-- 性别 -->
                    <div class="same ">
                        <label class="font-left float ">您的性别:</label>
                                <div class=" sex-box ">
                                    <label class="sex-font " style="font-weight: normal ; ">
                                        <div class="check">
        <span>
         <input style="width: 17px;height:17px; display: inline-block; margin: 0;" type="checkbox" value="m" name="osex">
        </span>
                                        </div>
                                        男
                                    </label>
                                </div>
                                <div class="sex-box">
                                    <label for="" class="sex-font " style="font-weight: normal ;">
                                        <div class="check">
<span>
                   <input style="width: 17px;height:17px; margin: 0;" type="checkbox" value="w" name="osex">
 </span>
                                        </div>
                                        女
                                    </label>
                                </div>
                    </div>
                    <!-- 电话 -->
                    <div class="same ">
                        <label for=" " class="font-left float ">您的电话:</label>
                        <div class="font-right">
                            <input type="text" name="ophone" class="style" style="width:100%;font-size: 14px;">
                        </div>
                    </div>
                    <!-- 补充说明 -->
                    <div class="same texta">
                        <label class="font-left  float ">补充说明:</label>
                        <div class="font-right ">
                            <input type="text" name="oadd" class="style" style="width:100%;height:64px;">
                        </div>
                    </div>
                    <!-- 验证码 -->
                    <div class="same" style="margin-top:20px;">
                        <label class="font-left float ">验证码:</label>
                        <div class="font-right">
                            <input class="style" style="width:100%;font-size: 14px;"></input>
                        </div>
                    </div>
                    <div class="same" style="margin-bottom:50px;">
                        <div class="ma-active" style="margin-top:10px;">
                            5 y 6 p b
                        </div>
                    </div>
                    <!-- 按钮 -->
                    <div class="same">
                        <div class="submit">
                            <button class="anniu submit-k" style="width: 98px;">
                                <!--<div class="submit-k" style="width: 98px;">-->
                                  提交预约
                                <!--</div>-->
                            </button>
                        </div>
                    </div>
                    <!-- 按钮结束 -->
                </form>
</section>
</div>
</div>
</div>
</div>
</from>
</div>
</div>
</div>
</section>
</div>
</div>
{include file='public/footer'}
<script>
    $('form').on('submit',function (e) {
        e.preventDefault();
        let zhi=$(this).serialize();
        console.log(zhi);
        $.ajax({
            url:'order1.php',
            type:'POST',
            dataType:'json',
            data:zhi,
            success:(res)=>{
                if(res.code==200){
                    alert(res.msg);
                    this.reset();
                }else{
                    alert(res.msg);
                }
            }

        })
    })
</script>
