{include file='public/header'}
<title>服务项目</title>
<link rel="stylesheet" href="__CSS_PATH__service.css">
<div class="bit-content">
    <div class="bitImageParentDiv">
        <!-- <div class="container col-md-12"> -->
        <div class="qfe-wrapper ">
            <img src="__IMG_PATH__newtu/jzbanner9.png" alt="">
        </div>
        <!-- </div> -->
    </div>
    <!-- 服务项目 -->
    <!--标题开始-->
    <div class="title">
        <div class="tit-left">
            <span></span>
        </div>
        <div class="title-wz">
           服务
        </div>
        <div class="tit-right">
            <span></span>
        </div>
        <!-- </div> -->
    </div>
    <!--标题开始-->

    <!-- 下方四个图开始 -->
    <div class="row">
        <div class="container">
            <div class="list">
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <div class="list-item">
                            <div class="list-left">
                                <img src="__IMG_PATH__service/icon1.png" alt="">
                            </div>
                            <div class="list-right">
                                <a href="script:;">
                                    <h3>劣质包赔</h3>
                                    <p>质量不好，获得赔偿</p>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="list-2">
                        <h2>劣质包赔</h2>
                        <p>收到货物一旦劣质，企业既按规定或平台规定赔付买家。</p>
                    </div>
                </div>
                <div class="list-box animated fadeInUp">
                    <div class="list-1 ">
                        <div class="list-item">
                            <div class="list-left">
                                <img src="__IMG_PATH__service/icon2.png" alt="">
                            </div>
                            <div class="list-right">
                                <a href="script:;">
                                    <h3>分期装修</h3>
                                    <p>按月付款，包您放心</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="list-2">
                        <h2>装修分期</h2>
                        <p>买家无需用自有资金支付装修款，办理装修分期，装修款即可按月支付。</p>
                    </div>
                </div>
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <div class="list-item">
                            <div class="list-left">
                                <img src="__IMG_PATH__service/icon4.png" alt="">
                            </div>
                            <div class="list-right">
                                <a href="script:;">
                                    <h3>智能家居</h3>
                                    <p>一站式智能家居服务</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="list-2">
                        <h2>智能家居</h2>
                        <p>企业支持智能家居设计、施工、安装，业主可感受一站式智能家居服务。</p>
                    </div>
                </div>
                <div class="list-box animated fadeInUp">
                    <div class="list-1">
                        <div class="list-item">
                            <div class="list-left">
                                <img src="__IMG_PATH__service/icon3.png" alt="">
                            </div>
                            <div class="list-right">
                                <a href="script:;">
                                    <h3>装修服务</h3>
                                    <p>全新家具，享受生活</p>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="list-2">
                        <h2>装修服务</h2>
                        <p>企业有专业的设计团队可以为买家提供装修服务</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--下面装修开始-->
    <div class="zhuangxiu">
        <div class="container">
            <div class="list bg">
            </div>
        </div>
    </div>
</div>
<!-- 站点地图开始 -->
{include file='public/footer'}