<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="__CSS_PATH__bootstrap.min.css"><!--//在config中146行定义的常量，对应文档的输出替换-->
    <link rel="stylesheet" href="__CSS_PATH__public.css">
    <link rel="stylesheet" href="__CSS_PATH__swiper.min.css">
    <script src="__JS_PATH__jquery.min.js"></script>
    <script src="__JS_PATH__swiper.min.js"></script>
    <script src="__JS_PATH__bootstrap.min.js"></script>
    <script src="__JS_PATH__public.js"></script>
    <style>
    </style>
</head>
<body>
<!-- 导航开始 -->
<!-- 顶部导航 开始 -->
<nav class="posit">
    <div class="nav-box">
        <div class="navl">
            <img src="__IMG_PATH__首页/logo1.png" alt="">
        </div>
        <ul class="navr">
            <li>
                <a href="/tp-home/public/index/index/index" style="color:{$id==0 ? '#f9b418': '#333' }">首页</a>
            </li>
            {volist name="nav" id="vo"}
            <li>
                <a href="/tp-home/public/index/category/index?id={$vo.id}" style="color:{$vo['id']==$id ? '#f9b418': '#333' }">{$vo.nname}</a>
            </li>
            {/volist}

        </ul>
    </div>
</nav>
<!-- 屏幕滚动出现 开始 -->
<nav class="xiala-nav">
    <div class="nav-box">
        <div class="navl">
            <img src="__IMG_PATH__首页/logo1.png" alt="">
        </div>
        <ul class="navr">
            <li>
                <a href="/tp-home/public/index/index/index" style="color:{$id==0 ? '#f9b418': '#333' }">首页</a>
            </li>
            {volist name="nav" id="vo"}
            <li>
                <a href="/tp-home/public/index/category/index?id={$vo.id}" style="color:{$vo['id']==$id ? '#f9b418': '#333' }">{$vo.nname}</a>
            </li>
            {/volist}
        </ul>
    </div>
</nav>
<!-- 屏幕滚动出现 结束 -->
<!-- 屏幕缩小后出现的下拉列表 开始 -->
<a href="#">
    <div class="nav-list">
        <div class="shouy">首页</div>
        <div class="shouy-xiala">∨</div>
    </div>
</a>
<ul class="xialakuang" style="display: none;">
    <a href="/tp-home/public/index/index/index" style="color:{$id==0 ? '#f9b418': '#333' }">
        <li>首页</li>
    </a>
    {volist name="nav" id="vo"}
        <a href="/tp-home/public/index/category/index?id={$vo.id}" style="color:{$vo['id']==$id ? '#f9b418': '#333' }">
           <li>{$vo.nname}</li>
        </a>
    {/volist}
    <!--<a href="aoout.php">-->
    <!--<li>关于我们</li>-->
    <!--</a>-->
    <!--<a href="list.php">-->
    <!--<li>产品中心</li>-->
    <!--</a>-->
    <!--<a href="service.php">-->
    <!--<li>服务项目</li>-->
    <!--</a>-->
    <!--<a href="News.php">-->
    <!--<li>新闻资讯</li>-->
    <!--</a>-->
</ul>
<!-- 屏幕缩小后出现的下拉列表 结束 -->

